<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Pokedex Edit</title>
</head>
<body>
    <h1>Pokemon Edit</h1>
    <a href="/pokemon/"><button type="button">Link to Index Page</button></a>
    <a href="pokemon/new/"><button>Add Pokemon</button></a>
    <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=data.name%>" /><br />
    Type: <input type="text" name="type" value="<%=data.type%>" /><br />
    HP: <input type="text" name="hp" value="<%=data.stats.hp%>" /><br />
    Attack: <input type="text" name="attack" value="<%=data.stats.attack%>" /><br />
    Defense: <input type="text" name="defense" value="<%=data.stats.defense%>" /><br />
    <input type="submit" name="" value="Edit Pokemon" />
  </form>
</body>
</html>